.about {
    margin-top: 12.9rem;
}
@media (max-width: 1200px) {
    .about {
        margin-top: 13.9rem;
    }
}
@media (max-width: 767px) {
    .about {
        margin-top: 5.1rem;
    }
}

.stars_img {
    position: absolute;
    left: -9.1rem;
    top: -9.2rem;
}
@media (max-width: 1200px) {
    .stars_img {
        top: -8.3rem;
        left: -8.8rem;
       }
       .stars_img img {
        width: 25.2rem;
        height: 15.9rem;
       }
}
@media (max-width: 767px) {
    .stars_img {
        display: none;
    }  
}

.title_wrapper {
    width: 66.4rem;
    display: inline-block;
}
@media (max-width: 1200px) {
    .title_wrapper {
        width: 47.3rem;
        margin: 0 auto;
    }
}
@media (max-width: 767px) {
    .title_wrapper {
        width: 100%;
        margin: 0 auto;
    } 
}

.title1 {
    margin-bottom: 3.2rem;
}
@media (max-width: 767px) {
    .title1 {
        margin: 0 auto;
        width: 17.7rem;
    } 
}


.title2 {
    width: 57rem;
    margin-bottom: 6.4rem;
}
@media (max-width: 1200px) {
    .title2 {
        margin: 0 auto;
        width: 33.6rem;
        margin-top: 1.6rem;
        margin-bottom: 3.2rem;
    }
}
@media (max-width: 767px) {
    .title2 {
        width: 20.6rem;
    
    }
}


.order_btn {
    width: 21rem;
    height: 5.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #69766D;
    font-family: 'Garamond';
    font-weight: 400;
    font-size: 2rem;
    color: #F6F6F5;
    border: none;
}
@media (max-width: 1200px) {
    .order_btn {
        margin: 0 auto;
    }
}
@media (max-width: 767px) {
    .order_btn {
        width: 21rem;
        height: 5.9rem;
        font-size: 2rem;
    }
}



.about_img {
    display: inline-block;
    position: absolute;
    top: -8.4rem;
    right: 6.5rem;
    width: 33.7rem;
    height: 46rem;
    border-radius: 500em 500em 0 0; 
    background: url(../img/about.jpg) center center/cover no-repeat;
}
.about_img::after {
    content:"";
    display: block;
    width: 30.7rem;
    height: 43rem;
    border-radius: 500em 500em 0 0; 
    border: 0.2rem solid #F6F6F5;
    margin: 0 auto;
    margin-top: 1.3rem;

}
@media (max-width: 1200px) {
    .about_img {
        display: none;
    }
}
