/* Стили основныех тегов */
* {
    box-sizing: border-box;
}
body {
    position: relative;
}
header {
    padding-top: 2.4rem;
    height: 7.9rem;
    position: relative;
}
/* Глобальный размер шрифта, зависит от разрешения экрана */
html
{
    font-size: 0.52vw;
}
@media (max-width: 1200px) {
    html
{
    font-size: 1.3vw;
}
}
@media (max-width: 767px) {
    html
{
    font-size: 3.125vw;
}
/* Глобальный размер шрифта, зависит от разрешения экрана */
}
a {
    text-decoration: none;
}
h1 {
    font-family: 'Garamond';
    font-weight: 400;
    font-style: normal;
    font-size: 5.9rem;
    color: #161616;
}

h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 3.4rem;
    color: #161616;
}

h3 {
    font-family: 'Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    color: #161616;
}
h4 {
    text-align: center;
    font-family: 'Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 4.2rem;
    color: #161616;    
}
input[type=text]:focus {
    border: 0.5px solid #D8BFA9;
}
input {
    font-family: 'Lato';
    padding: 1.1rem 1rem;
    font-style: normal;
    font-weight: 300;
    color: #161616;
    background: #FEFEFE;
    border: 0.05rem solid #E4E4E4;
    outline: none;
}
button {
    cursor: pointer;
}
/* Конец стилей основных тегов */

/* Адаптив для основных тегов */
.header_body {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
@media (max-width:1200px) {
    h1 {
        text-align: center;
        font-size: 4.2rem;
        margin: 0;
    }
    h2 {
        font-size: 1.6rem;
        text-align: center;
        line-height: 2.4rem;
    }
    h3 {
        font-size: 3.2rem;
    }
    
    h4 {
        font-size: 3.2rem;
        margin: 0;
    } 
    .header_body {
        display: inline;
    }
}
@media (max-width: 767px) {
    header {
        padding-top: 1.6rem;
    }
    .header_body {
        display: flex; 
        justify-content: start;
        align-items: center;
    }
    
    h1 {
        font-size: 2.5rem;
        line-height: 2.8rem;
    }
    h2 {
        font-size: 1.2rem;
        line-height: 2rem;
      
    }
    h3 {
        font-size: 2rem;
    }
    h4 {
        font-size: 2.5rem;
    }
}

/* Конец адаптива для основных тегов */

/* Пример атомарного класса */
.flex {
    display: flex;
}
/* Пример атомарного класса*/


/* Основной контейнер */
.container {
    width: 111rem;
    padding: 0;
    margin: 0 auto;
    position: relative;
}
@media (max-width:1200px) {
    .container {
        width: 47.3rem;
        margin:0 auto;        
    }
}
@media (max-width: 767px) {
    .container {
        width: 29rem;       
    }
}
/* Основной контейнер */

/* Перекрывающий слой */
.overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.6);
	position: fixed;
	top: 0;
	left: 0;
    z-index: 2;
    transition: all .3s;
    visibility: hidden;
    opacity: 0;
}
/* Перекрывающий слой */


/* Меню-бургер изначально скрыто */
.menu {
    display: none;
}
.header_burger_wrapper {
    display: none;
}
/* Меню-бургер изначально скрыто */

/* Адаптив для меню-бургера */
@media (max-width: 1200px) {

    .menu {
        position: fixed;
        z-index: 3;
        width: 100%;
        height: 349px;
        background: #D8BFA9;
        display: block;
        visibility: hidden;
        opacity: 0;
    }    
    .menu_logo {
        display: block;
        margin: 0 auto;
        width: 11.7rem;
        height: 7.9rem;
        margin-top: 2.4rem;
    }
    .burger-close {
        position: absolute;
        width: 1.6rem;
        height: 1.6rem;
        top: 2.4rem;
        right: 4.5rem;
        cursor: pointer;
    }
    .burger-close_item:before, .burger-close_item:after{
        position: absolute;
        top: 2.2rem;
        right: 5.3rem;
        content: '';
        width: 1px;
        height: 2rem;
        background: #F6F6F5;
    }
    .burger-close_item:before {
        transform: rotate(45deg);
    }
    .burger-close_item:after {
        transform: rotate(-45deg);
    }
    .menu_burger {
        width: 12rem;
        height: 12rem;
        display: block;
        margin: 0 auto;
        margin-top: 3.2rem;
    }
    .menu_items_burger {
        /* display: flex; */
        justify-content: space-between;
        list-style-type: none;
        flex-direction: column;
        align-items: center;
        height: 12rem;
        margin: 0; 
        padding: 0;    
    }
    .menu_item_burger {        
        margin-bottom: 2rem; 
        font-family: 'Garamond';
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        text-decoration: none;
        color: #F6F6F5;
    }
    .social_wrapper_burger {
        display: block;
        margin: 0 auto;
        margin-top: 4.8rem;
        width: 18rem;
    }
    .social_icons_burger {
        /* display: flex; */
        justify-content: space-between;
        height: 3rem;
        width: 18rem;
    }
    .social_item_burger {
        width: 3rem;
        height: 3rem;
        /* display: flex; */
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #D8BFA9;
        border: 0.1rem solid #F6F6F5;
        text-decoration: none;
        color:#F6F6F5;
    }
    .header_burger_wrapper {
        display: block;
        position: absolute;
        top: 3.2rem;
        left: -7.3rem;
    }
    .header_burger {
        display: block;
        position: relative;
        width: 3rem;
        height: 1.6rem;
    }
    .header_burger:after,
    .header_burger::before {
        content:"";
        position: absolute;
        width: 100%;
        height: 0.2rem;
        background-color: #B8926B;
        left: 0;
    }
    .header_burger::before {
        top: 0;
    }
    .header_burger:after {
        bottom: 0;
    }
    .header_burger span {
        position: absolute;
        width: 100%;
        height: 0.2rem;
        background-color: #B8926B;
        left: 0;
        top: 0.7rem;
    }

}

@media (max-width: 767px) {

    .menu {
        height: 29.1rem;
    }
    .menu_logo {
        display: block;
        margin: 0 auto;
        width: 8.8rem;
        height: 5.4rem;
        margin-top: 1.6rem;
    }
    .burger-close {
        top: 1.6rem;
        right: 1.9rem;
        width: 1.6rem;
        height: 1.6rem;
    }
    .burger-close_item:before, .burger-close_item:after{
        top: 1.4rem;
        right: 2.6rem;
        width: 1rem;
        height: 1.9rem;
    }
    .menu_burger {
        width: 10.5rem;
        height: 10rem;
    }
    .menu_items_burger {
        height: 10rem;    
    }
    .menu_item_burger {        
        margin-bottom: 1.2rem; 
        font-size: 1.4rem;
    }
    .social_wrapper_burger {
        width: 14.8rem;
    }
    .social_icons_burger {
        height: 2.5rem;
        width: 14.8rem;
    }
    .social_item_burger {
        width: 2.5rem;
        height: 2.5rem;
    }
    .header_burger_wrapper {
        position: static;
    }
    .header_burger {
        width: 2.1rem;
        height: 1.1rem;
    }
    .header_burger span {
        top: 0.45rem;
    } 
}
/* Конец адаптива для меню-бургера */

/* header */
.logo {
    width: 11.7rem;
    height: 7.9rem;
}
@media (max-width:1200px) {
    .logo {
        display: block;
        margin: 0 auto;
    }
}
@media (max-width: 767px) {
    .logo {
        width: 8rem;
        height: 5rem;
        margin-left: 8.4rem;
    }
}

.header_menu{
    display: block;
    position: absolute;
    width: 49.9rem;
    top: 50%;
    left: 30.5rem;
    transform: translateY(-50%);
}
@media (max-width: 1200px) {
    .header_menu {
        display: none;
    }
}

.header_menu_items {
    /* display: flex; */
    justify-content: space-between;
    padding: 0;
}
.header_menu_item {
    font-family: 'Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    color: #161616;
    text-decoration: none;
}
.header_menu_item:before{
    content: "";
    display: block;
    width: 0%;
    height: 0.2rem;
    background-color: #D8BFA9;
    margin-bottom: 0.2rem;
    transition: 0.5s all;
}
.header_menu_item:hover:before {
    width: 2.7rem;
}
.social_wrapper{
    display: inline-block;
    position: absolute;
    top: 34rem;
    right: -1.2rem;  
    z-index: 1;  
}
@media (max-width: 1200px) {
    .social_wrapper {
        display: none;
    }
}

.social_icons {   
    width: 4rem;
    height: 22rem;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
}
.social_item {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #fff;
    border: 0.1rem solid #D8BFA9;
    text-decoration: none;
    color:#D8BFA9;
}
.fa-brands {
    font-size: 2rem;
}

.social_item:hover {
    color: #B8926B;
    border-color: #B8926B;
}

/* .call {
    position: absolute;
    height: 30px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center; */

@media (max-width:1200px) {
    .call {
        position: absolute;
        top: 3rem;
        right: -9.4rem;
    }
}

@media (max-width: 767px) {
    .call {
        top: 1.5rem;
        left: 26.9rem;
    }
}

/* .call {
    position: absolute;
    height: 30px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
} */


.call_link {
    font-family: 'Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    color: #B8926B;
}
.call_link::before {
    content: url(../icons/call.svg);
    margin-right: 1.6rem;
    vertical-align: middle;
}

@media (max-width: 767px) {
    .call_link span{
        display: none;
    }
    .call {
        width: 2rem;
        height: 2rem;
    }
}



/* .call_img img{
    width: 18px;
    height: 18px;
    margin-top: 5px;
}
@media (max-width: 767px) {
    .call_img img {
        width: 20px;
        height: 20px;
    }
} */

/* конец headera */



/* Модальное окно с адаптивом*/


.imdiz-modal {
    width: 74.6rem;
    height: 51.8rem;
    background-color: #F6F6F5;
    position: fixed;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: all .3s;
    visibility: hidden;
    opacity: 0;
    padding: 6.4rem 11.3rem;
}
@media (max-width: 1200px) {
    .imdiz-modal {
        width: 60.6rem;
        height: 51.2rem;
        padding: 6.4rem 3.6rem 6.4rem 4.9rem;
    }
}
@media (max-width: 767px) {   
    .imdiz-modal {
        width: 32rem;
        height: 100%;
        padding: 5.6rem 1.5rem 13.2rem 1.5rem;
    }
}





.imdiz-close {
    position: absolute;
    top: 2.6rem;
    right: 2.6rem;
    width: 2rem;
    height: 2rem;
}
@media (max-width: 1200px) {
    .imdiz-close {
        top: 2rem;
        right: 2rem;
    }
}
@media (max-width: 767px) {   
    .imdiz-close {
        width: 1.2rem;
        height: 1.2rem;
        top: 1.6rem;
        right: 1.5rem;
    }
}

.imdiz-close_item:before, .imdiz-close_item:after{
    position: absolute;
    top: 2.6rem;
    right: 3.9rem;
    content: '';
    width: 0.1rem;
    height: 2rem;
    background: #69766D;
}
@media (max-width: 1200px) {
    .imdiz-close_item:before, .imdiz-close_item:after{
        top: 2rem;
        right: 3rem;
    }
}
@media (max-width: 767px) {   
    .imdiz-close_item:before, .imdiz-close_item:after{
        top: 1.6rem;
        right: 2.1rem;
        width: 0.1rem;
        height: 1.5rem;
    }
}



.imdiz-close_item:before {
    transform: rotate(45deg);
}
.imdiz-close_item:after {
    transform: rotate(-45deg);
}
.imdiz-close:hover {
    cursor: pointer;
}
.modal_stars_img {
    width: 15.6rem;
    height: 9.2rem;
    position: absolute;
    top: 2.9rem;
    left: 17rem;
}
.modal_stars_img img {
    width: 100%;
}
@media (max-width: 1200px) {   
    .modal_stars_img {
        top: 2.4rem;
        left: 14.5rem;
    }
}

@media (max-width: 767px) {   
    .modal_stars_img {
        width: 12.9rem;
        height: 7.6rem;
        top: 2.1rem;
        left: 2.8rem;
    }
}

.imdiz_info {
    width: 52.1rem;
    height: 17.8rem;
    margin-top: 4.8rem;
}
@media (max-width: 1200px) {
    .imdiz_info {
        margin-top: 5.9rem;
        height: 16.4rem;
    }
}
@media (max-width: 767px) {   
    .imdiz_info {
        margin: 0 auto;
        margin-top: 4.8rem;
        width: 29rem;
        height: 15.2rem;    
    }
}


.imdiz_info_item {
    margin-bottom: 3.2rem;
}
@media (max-width: 767px) {   
    .imdiz_info_item {
        margin-bottom: 2.4rem;
    }
}

.item_info:last-child {
    margin-bottom: 0;
}
.imdiz_info_title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #161616;
}
@media (max-width: 1200px) {
    .imdiz_info_title {
        font-size: 1.6rem;
    }
}
@media (max-width: 767px) {   
    .imdiz_info_title {
        font-size: 1.4rem;
    }
}



.imdiz_input {
    width: 100%;
    height: 4rem;
    margin-top: 1.1rem;
    font-size: 1.4rem;
}
@media (max-width: 1200px) {
    .imdiz_input {
        height: 3.5rem;
        font-size: 1.2rem;
    }
}
@media (max-width: 767px) {   
    .imdiz_input {
        margin-top: 0.9rem;
        width: 29rem;
    }
}




.imdiz_info_subtitle {
    font-family: 'Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    color: #69766D;
    margin-top: 1rem;
}
@media (max-width: 1200px) {
    .imdiz_info_subtitle {
        font-size: 1.2rem;
    }
}
@media (max-width: 767px) {   
    .imdiz_info_subtitle {
        font-size: 1rem;
        line-height: 1.1rem;
        margin-top: 0.7rem;
    }
}


.imdiz_btn {
    width: 22.7rem;
    height: 5.9rem;
    margin: 3.2rem auto 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background: #69766D;
    font-family: 'Garamond';
    font-weight: 400;
    font-size: 2rem;
    color: #F6F6F5;
    border: none;
}
@media (max-width: 1200px) {
    .imdiz_btn {
        margin-top: 4.2rem;
    }
}
@media (max-width: 767px) {   
    .imdiz_btn {
        width: 22.7rem;
        height: 5.9rem;
        font-size: 2rem;
    }
}
/* Конец модального окна с адаптивом */