@media (max-width: 1200px) {
    .container {
        width: 473px;
        margin:0 auto;        
    }
    .menu {
        position: fixed;
        z-index: 3;
        width: 100%;
        height: 349px;
        background: #D8BFA9;
        display: block;
        visibility: hidden;
        opacity: 0;
    }    
    .menu_logo {
        display: block;
        margin: 0 auto;
        width: 117px;
        height: 79px;
        margin-top: 24px;
    }
    .burger-close {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 24px;
        right: 45px;
        cursor: pointer;
    }
    .burger-close_item:before, .burger-close_item:after{
        position: absolute;
        top: 22px;
        right: 53px;
        content: '';
        width: 1px;
        height: 20px;
        background: #F6F6F5;
    }
    .burger-close_item:before {
        transform: rotate(45deg);
    }
    .burger-close_item:after {
        transform: rotate(-45deg);
    }
    .menu_burger {
        width: 120px;
        height: 120px;
        display: block;
        margin: 0 auto;
        margin-top: 32px;
    }
    .menu_items_burger {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        flex-direction: column;
        align-items: center;
        height: 120px;
        margin: 0; 
        padding: 0;    
    }
    .menu_item_burger {        
        margin-bottom: 20px; 
        font-family: 'Garamond';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        text-decoration: none;
        color: #F6F6F5;
    }
    .social_wrapper_burger {
        display: block;
        margin: 0 auto;
        margin-top: 48px;
        width: 180px;
    }
    .social_icons_burger {
        display: flex;
        justify-content: space-between;
        height: 30px;
        width: 180px;
    }
    .social_item_burger {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #D8BFA9;
        border: 1px solid #F6F6F5;
        text-decoration: none;
        color:#F6F6F5;
    }
    .header_burger_wrapper {
        position: absolute;
        top: 32px;
        left: -73px;
    }
    .header_burger {
        display: block;
        position: relative;
        width: 30px;
        height: 16px;
        /* display: none; */
    }
    .header_burger:after,
    .header_burger::before {
        content:"";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #B8926B;
        left: 0;
    }
    .header_burger::before {
        top: 0;
    }
    .header_burger:after {
        bottom: 0;
    }
    .header_burger span {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #B8926B;
        left: 0;
        top: 7px;
    }
    .logo {
        display: block;
        margin: 0 auto;
    }
    .call {
        position: absolute;
        top: 42px;
        right: -76px;
    }
    .call_img img{
        width: 18px;
        height: 18px;
    }
    .call_link {
        margin-left: 12px;
    }
    .header_menu {
        display: none;
    }
    .social_wrapper {
        display: none;
    }
    
    .about {
        margin-top: 139px;
    }
    .title_wrapper {
        width: 473px;
        margin: 0 auto;
    }
    .stars_img {
        top: -83px;
        left: -88px;
       }
       .stars_img img {
        width: 252px;
        height: 159px;
       }
    
   h1 {
        text-align: center;
        font-size: 42px;
        margin: 0;
   }
   .title2 h2 {
        font-size: 16px;
        text-align: center;
        margin-top: 16px;
        line-height: 24px;
        margin-bottom: 32px;
   }
   .title2 {
        margin: 0 auto;
        width: 336px;
    }
   .order_btn {
        margin: 0 auto;
   }
   .about_img {
        display: none;
   }
   .imdiz-modal {
        width: 606px;
        height: 512px;
        padding: 64px 36px 64px 49px;
   }
   .imdiz-modal h4 {
        font-size: 32px;
        margin: 0;
   } 
   .imdiz_info {
        margin-top: 59px;
        height: 164px;
   }
   .imdiz_info_title {
        font-size: 16px;
   }
   .imdiz_info_subtitle {
        font-size: 12px;
   }
   .imdiz-close {
        top: 20px;
        right: 20px;
    }
    .imdiz-close_item:before, .imdiz-close_item:after{
        top: 20px;
        right: 30px;
    }
   .imdiz_input {
        height: 35px;
        font-size: 12px;
   }
   .imdiz_btn {
        margin-top: 42px;
   }
   .five_steps h3 {
        font-size: 32px;
   }
   .five_steps .divider {
        width: 58px;
    }
   .five_steps_title{
        width: 373px;
    }
   .five_steps_item {
        width: 140px;
        margin-bottom: 32px;
   }
   .five_steps_item_title {
        font-size: 18px;
        margin-top: 32px;
        text-align: center;
   }
   .five_steps_item_descr {
        font-size: 14px;
        margin-top: 10px;
        text-align: center;
   }
   .five_steps_icon {
        padding-left: 0;
    }
   .five_step_icon_img {
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }
    .line_wrapper {
        display: none;
    }
    .five_steps_wrapper {
        margin-top: 67px;
        flex-wrap: wrap;
        justify-content: space-around;
    }

}

@media (max-width: 767px) {
    .container {
        width: 290px;       
    }
    .menu {
        height: 291px;
    }
    .menu_logo {
        display: block;
        margin: 0 auto;
        width: 88px;
        height: 54px;
        margin-top: 16px;
    }
    .burger-close {
        top: 16px;
        right: 19px;
        width: 16px;
        height: 16px;
    }
    .burger-close_item:before, .burger-close_item:after{
        top: 14px;
        right: 26px;
        width: 1px;
        height: 19px;
    }
    .menu_burger {
        width: 105px;
        height: 100px;
    }
    .menu_items_burger {
        height: 100px;    
    }
    .menu_item_burger {        
        margin-bottom: 12px; 
        font-size: 14px;
    }
    .social_wrapper_burger {
        width: 148px;
    }
    .social_icons_burger {
        height: 25px;
        width: 148px;
    }
    .social_item_burger {
        width: 25px;
        height: 25px;
    }
    .header_burger_wrapper {
        position: static;
    }
    .header_burger {
        width: 21px;
        height: 11px;
    }
    .header_burger span {
        top: 4.5px;
    } 
    header {
        padding-top: 16px;
    }
    .header_body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        width: 80px;
        height: 50px;
        margin: 0 auto;
    }
    .call {
        position: static;
        display: block;
        align-self:flex-end;
        height: 25px;
    }
    .call_link {
        display: none;
    }
    .call_img img {
        width: 20px;
        height: 20px;
    }
    .about {
        margin-top: 51px;
    }
    .title_wrapper {
        width: 100%;
        margin: 0 auto;
    }
    .stars_img {
        display: none;
    }    
    h1 {
        font-size: 25px;
        line-height: 28px;
    }
    .title2 h2 {
        font-size: 12px;
        line-height: 20px;
        margin-top: 16px;
        margin-bottom: 32px;
    }
   .title1 {
        margin: 0 auto;
        width: 177px;
    }
    .title2 {
        width: 206px;
    }
   .order_btn {
        width: 210px;
        height: 59px;
        font-size: 20px;
    }
   .imdiz-modal {
        width: 320px;
        height: 100%;
        padding: 56px 15px 132px 15px;
    }
    .imdiz-modal h4 {
        font-size: 25px;
    } 
    .imdiz_info {
        margin: 0 auto;
        margin-top: 48px;
        height: 290px;
        height: 152px;    
    }
    .imdiz_info_item {
        margin-bottom: 24px;
    }
    .imdiz_info_title {
        font-size: 14px;
    }
    .imdiz_info_subtitle {
        font-size: 10px;
        line-height: 11px;
        margin-top: 7px;
    }
    .imdiz_btn {
        margin-top: 42px;
        width: 227px;
        height: 59px;
        font-size: 20px;
    }
    .imdiz_input {
        margin-top: 9px;
        width: 290px;
    }
    .imdiz-close {
        width: 12px;
        height: 12px;
        top: 16px;
        right: 15px;
    }
    .imdiz-close_item:before, .imdiz-close_item:after{
        top: 16px;
        right: 21px;
        width: 1px;
        height: 15px;
    }
    .modal_stars_img {
        width: 129px;
        height: 76px;
        top: 21px;
        left: 28px;
    }
    .modal_stars_img img {
        width: 100%;
    }
    .five_steps {
        margin-top: 0;
    }
    .five_steps .divider {
        width: 47px;
    }
    .five_steps h3 {
        font-size: 20px;
   }
   .five_steps_title {
        margin: 0 auto;
        margin-top: 73px;
        width: 233px;
    }
    .five_steps_wrapper {
        margin-top: 32px;
        flex-direction: column;
        align-items: center;
    }
   .five_steps_item {
        width: 125px;
        margin-bottom: 24px;
   }
   .five_steps_item_title {
        font-size: 16px;
        margin-top: 10px;
   }
   .five_steps_item_descr {
        font-size: 14px;
        line-height: 19px;
        margin-top: 8px;
   }
   .five_step_icon_img {
        width: 40px;
        height: 40px;
    }

}